In [ ]:
import pandas as pd
from pathlib import Path
import pickle

In [ ]:
ddu_udd --> ddu_audd
cofog
ebops
degurba_dst
nst
ecoicop_dst
nr_branche --> Has to be object

In [2]:
pd.read_parquet("/mnt/HC_Volume_103849439/statbank_tables/VAN5M.parquet")

      STATSB ASYLTYPE      TID  INDHOLD
0       5459      BRU  2025M07        3
1       5486      BRU  2025M07        8
2       5708      SPO  2025M07        1
3       5756      SPO  2025M07        1
4       5103      BRU  2025M08       10
...      ...      ...      ...      ...
9724    5272      BRU  2025M07        3
9725    5294      BRU  2025M07        1
9726    5356      BRU  2025M07        1
9727    5404      SPO  2025M07        7
9728    5432      BRU  2025M07        6

[9729 rows x 4 columns]

In [6]:
data_dir = Path("/mnt/HC_Volume_103849439/statbank_tables")

In [12]:
already_cloned_table_ids = set(fp.stem for fp in data_dir.glob("*.parquet"))

In [23]:
for fp_table in Path(data_dir).glob("*.parquet"):
    df = pd.read_parquet(data_dir / fp_table)
    break

In [14]:
import httpx

def get_all_table_ids():
    # Get all tables
    r = httpx.get("https://api.statbank.dk/v1/tables", params={"lang": "da"}).json()
    df_tables = pd.DataFrame(r)
    return df_tables["id"].tolist()

In [16]:
table_id in already_cloned_table_ids

True

In [15]:
for table_id in get_all_table_ids():
    break

In [10]:
with open("/root/varro/data/tables_info_raw_da/FOLK3.pkl", "rb") as f:
    table_info = pickle.load(f)

table_info

{'id': 'FOLK3',
 'text': 'Befolkningen 1. januar',
 'description': 'Befolkningen 1. januar efter fødselsdag, fødselsmåned, fødselsår og tid',
 'unit': 'Antal',
 'suppressedDataValue': '0',
 'updated': '2025-02-11T08:00:00',
 'active': True,
 'contacts': [{'name': 'Dorthe Larsen',
   'phone': '+4523498326',
   'mail': 'dla@dst.dk'}],
 'documentation': {'id': '4a12721d-a8b0-4bde-82d7-1d1c6f319de3',
  'url': 'https://www.dst.dk/statistikdokumentation/4a12721d-a8b0-4bde-82d7-1d1c6f319de3'},
 'footnote': {'text': 'Flest har fødselsdag 1. januar og 1. juli, bl.a. på grund af administrative procedurer for udlændinge, der kommer til Danmark. Færrest har fødselsdag 29. februar, som kun findes i skudår.',
  'mandatory': False},
 'variables': [{'id': 'FDAG',
   'text': 'fødselsdag',
   'elimination': True,
   'time': False,
   'values': [{'id': 'TOT', 'text': 'I alt'},
    {'id': 'D01', 'text': '1.'},
    {'id': 'D02', 'text': '2.'},
    {'id': 'D03', 'text': '3.'},
    {'id': 'D04', 'text': '4.'},
    {'id': 'D05', 'text': '5.'},
    {'id': 'D06', 'text': '6.'},
    {'id': 'D07', 'text': '7.'},
    {'id': 'D08', 'text': '8.'},
    {'id': 'D09', 'text': '9.'},
    {'id': 'D10', 'text': '10.'},
    {'id': 'D11', 'text': '11.'},
    {'id': 'D12', 'text': '12.'},
    {'id': 'D13', 'text': '13.'},
    {'id': 'D14', 'text': '14.'},
    {'id': 'D15', 'text': '15.'},
    {'id': 'D16', 'text': '16.'},
    {'id': 'D17', 'text': '17.'},
    {'id': 'D18', 'text': '18.'},
    {'id': 'D19', 'text': '19.'},
    {'id': 'D20', 'text': '20.'},
    {'id': 'D21', 'text': '21.'},
    {'id': 'D22', 'text': '22.'},
    {'id': 'D23', 'text': '23.'},
    {'id': 'D24', 'text': '24.'},
    {'id': 'D25', 'text': '25.'},
    {'id': 'D26', 'text': '26.'},
    {'id': 'D27', 'text': '27.'},
    {'id': 'D28', 'text': '28.'},
    {'id': 'D29', 'text': '29.'},
    {'id': 'D30', 'text': '30.'},
    {'id': 'D31', 'text': '31.'}]},
  {'id': 'FMAANED',
   'text': 'fødselsmåned',
   'elimination': True,
   'time': False,
   'values': [{'id': 'TOT', 'text': 'I alt'},
    {'id': '001', 'text': 'Januar'},
    {'id': '002', 'text': 'Februar'},
    {'id': '003', 'text': 'Marts'},
    {'id': '004', 'text': 'April'},
    {'id': '005', 'text': 'Maj'},
    {'id': '006', 'text': 'Juni'},
    {'id': '007', 'text': 'Juli'},
    {'id': '008', 'text': 'August'},
    {'id': '009', 'text': 'September'},
    {'id': '010', 'text': 'Oktober'},
    {'id': '011', 'text': 'November'},
    {'id': '012', 'text': 'December'}]},
  {'id': 'FODAAR',
   'text': 'fødselsår',
   'elimination': True,
   'time': False,
   'values': [{'id': 'TOT', 'text': 'I alt'},
    {'id': '1899', 'text': '1899'},
    {'id': '1900', 'text': '1900'},
    {'id': '1901', 'text': '1901'},
    {'id': '1902', 'text': '1902'},
    {'id': '1903', 'text': '1903'},
    {'id': '1904', 'text': '1904'},
    {'id': '1905', 'text': '1905'},
    {'id': '1906', 'text': '1906'},
    {'id': '1907', 'text': '1907'},
    {'id': '1908', 'text': '1908'},
    {'id': '1909', 'text': '1909'},
    {'id': '1910', 'text': '1910'},
    {'id': '1911', 'text': '1911'},
    {'id': '1912', 'text': '1912'},
    {'id': '1913', 'text': '1913'},
    {'id': '1914', 'text': '1914'},
    {'id': '1915', 'text': '1915'},
    {'id': '1916', 'text': '1916'},
    {'id': '1917', 'text': '1917'},
    {'id': '1918', 'text': '1918'},
    {'id': '1919', 'text': '1919'},
    {'id': '1920', 'text': '1920'},
    {'id': '1921', 'text': '1921'},
    {'id': '1922', 'text': '1922'},
    {'id': '1923', 'text': '1923'},
    {'id': '1924', 'text': '1924'},
    {'id': '1925', 'text': '1925'},
    {'id': '1926', 'text': '1926'},
    {'id': '1927', 'text': '1927'},
    {'id': '1928', 'text': '1928'},
    {'id': '1929', 'text': '1929'},
    {'id': '1930', 'text': '1930'},
    {'id': '1931', 'text': '1931'},
    {'id': '1932', 'text': '1932'},
    {'id': '1933', 'text': '1933'},
    {'id': '1934', 'text': '1934'},
    {'id': '1935', 'text': '1935'},
    {'id': '1936', 'text': '1936'},
    {'id': '1937', 'text': '1937'},
    {'id': '1938', 'text': '1938'},
    {'id': '1939', 'text': '1939'},
    {'id': '1940', 'text': '1940'},
    {'id': '1941', 'text': '1941'},
    {'id': '1942', 'text': '1942'},
    {'id': '1943', 'text': '1943'},
    {'id': '1944', 'text': '1944'},
    {'id': '1945', 'text': '1945'},
    {'id': '1946', 'text': '1946'},
    {'id': '1947', 'text': '1947'},
    {'id': '1948', 'text': '1948'},
    {'id': '1949', 'text': '1949'},
    {'id': '1950', 'text': '1950'},
    {'id': '1951', 'text': '1951'},
    {'id': '1952', 'text': '1952'},
    {'id': '1953', 'text': '1953'},
    {'id': '1954', 'text': '1954'},
    {'id': '1955', 'text': '1955'},
    {'id': '1956', 'text': '1956'},
    {'id': '1957', 'text': '1957'},
    {'id': '1958', 'text': '1958'},
    {'id': '1959', 'text': '1959'},
    {'id': '1960', 'text': '1960'},
    {'id': '1961', 'text': '1961'},
    {'id': '1962', 'text': '1962'},
    {'id': '1963', 'text': '1963'},
    {'id': '1964', 'text': '1964'},
    {'id': '1965', 'text': '1965'},
    {'id': '1966', 'text': '1966'},
    {'id': '1967', 'text': '1967'},
    {'id': '1968', 'text': '1968'},
    {'id': '1969', 'text': '1969'},
    {'id': '1970', 'text': '1970'},
    {'id': '1971', 'text': '1971'},
    {'id': '1972', 'text': '1972'},
    {'id': '1973', 'text': '1973'},
    {'id': '1974', 'text': '1974'},
    {'id': '1975', 'text': '1975'},
    {'id': '1976', 'text': '1976'},
    {'id': '1977', 'text': '1977'},
    {'id': '1978', 'text': '1978'},
    {'id': '1979', 'text': '1979'},
    {'id': '1980', 'text': '1980'},
    {'id': '1981', 'text': '1981'},
    {'id': '1982', 'text': '1982'},
    {'id': '1983', 'text': '1983'},
    {'id': '1984', 'text': '1984'},
    {'id': '1985', 'text': '1985'},
    {'id': '1986', 'text': '1986'},
    {'id': '1987', 'text': '1987'},
    {'id': '1988', 'text': '1988'},
    {'id': '1989', 'text': '1989'},
    {'id': '1990', 'text': '1990'},
    {'id': '1991', 'text': '1991'},
    {'id': '1992', 'text': '1992'},
    {'id': '1993', 'text': '1993'},
    {'id': '1994', 'text': '1994'},
    {'id': '1995', 'text': '1995'},
    {'id': '1996', 'text': '1996'},
    {'id': '1997', 'text': '1997'},
    {'id': '1998', 'text': '1998'},
    {'id': '1999', 'text': '1999'},
    {'id': '2000', 'text': '2000'},
    {'id': '2001', 'text': '2001'},
    {'id': '2002', 'text': '2002'},
    {'id': '2003', 'text': '2003'},
    {'id': '2004', 'text': '2004'},
    {'id': '2005', 'text': '2005'},
    {'id': '2006', 'text': '2006'},
    {'id': '2007', 'text': '2007'},
    {'id': '2008', 'text': '2008'},
    {'id': '2009', 'text': '2009'},
    {'id': '2010', 'text': '2010'},
    {'id': '2011', 'text': '2011'},
    {'id': '2012', 'text': '2012'},
    {'id': '2013', 'text': '2013'},
    {'id': '2014', 'text': '2014'},
    {'id': '2015', 'text': '2015'},
    {'id': '2016', 'text': '2016'},
    {'id': '2017', 'text': '2017'},
    {'id': '2018', 'text': '2018'},
    {'id': '2019', 'text': '2019'},
    {'id': '2020', 'text': '2020'},
    {'id': '2021', 'text': '2021'},
    {'id': '2022', 'text': '2022'},
    {'id': '2023', 'text': '2023'},
    {'id': '2024', 'text': '2024'}]},
  {'id': 'Tid',
   'text': 'tid',
   'elimination': False,
   'time': True,
   'values': [{'id': '2008', 'text': '2008'},
    {'id': '2009', 'text': '2009'},
    {'id': '2010', 'text': '2010'},
    {'id': '2011', 'text': '2011'},
    {'id': '2012', 'text': '2012'},
    {'id': '2013', 'text': '2013'},
    {'id': '2014', 'text': '2014'},
    {'id': '2015', 'text': '2015'},
    {'id': '2016', 'text': '2016'},
    {'id': '2017', 'text': '2017'},
    {'id': '2018', 'text': '2018'},
    {'id': '2019', 'text': '2019'},
    {'id': '2020', 'text': '2020'},
    {'id': '2021', 'text': '2021'},
    {'id': '2022', 'text': '2022'},
    {'id': '2023', 'text': '2023'},
    {'id': '2024', 'text': '2024'},
    {'id': '2025', 'text': '2025'}]}]}

In [11]:
df.head()

  FDAG  FMAANED FODAAR   TID INDHOLD
0  11.  Februar   1935  2024      40
1  11.  Februar   1936  2024      51
2  11.  Februar   1937  2024      65
3  11.  Februar   1938  2024      77
4  11.  Februar   1939  2024      73