In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from varro.config import DATA_DIR
import pickle
import json
import networkx as nx


TABLES_INFO_DIR = DATA_DIR / "metadata" / "tables_info_raw_da"
DIM_LINKS_DIR = DATA_DIR / "dimension_links"
with open("/root/varro/agents/notes/subject_tables_dict.json", "r") as f:
    subject_tables_dict = json.load(f)

In [51]:
path   = ["DST", "Borgere", "Befolkning", "Befolkningstal"]
tables = ["FOLK1A", "FOLK1AM", "BEFOLK1"]

In [52]:
from varro.context.fact_table import get_fact_table_info

In [116]:
table_info = get_fact_table_info("kv2sm1", raw=True)

In [117]:
table_info

{'id': 'KV2SM1',
 'text': 'Forbrug af sociale medier',
 'description': 'Forbrug af sociale medier efter socialt medie, køn, alder og tid',
 'unit': 'Pct.',
 'suppressedDataValue': '0',
 'updated': '2025-03-03T08:00:00',
 'active': True,
 'contacts': [{'name': 'Anders Yde Bentsen',
   'phone': '+4540336881',
   'mail': 'ayb@dst.dk'}],
 'documentation': {'id': '9f9e5f52-5586-46d1-b868-e13036d207ae',
  'url': 'https://www.dst.dk/statistikdokumentation/9f9e5f52-5586-46d1-b868-e13036d207ae'},
 'footnote': {'text': 'Spørgsmål til respondenter: &quot;Hvilke sociale medier har du brugt inden for de seneste 12 måneder?&quot;. Pct. af befolkningen. Det var muligt at vælge flere svarmuligheder.',
  'mandatory': False},
 'variables': [{'id': 'SOME',
   'text': 'socialt medie',
   'elimination': False,
   'time': False,
   'values': [{'id': '42620', 'text': 'BeReal'},
    {'id': '42630', 'text': 'Facebook'},
    {'id': '42640', 'text': 'Instagram'},
    {'id': '42650', 'text': 'LinkedIn'},
    {'id': '42660', 'text': 'Messenger'},
    {'id': '42670', 'text': 'Pinterest'},
    {'id': '42680', 'text': 'Reddit'},
    {'id': '42690', 'text': 'Snapchat'},
    {'id': '42700', 'text': 'TikTok'},
    {'id': '42710', 'text': 'Twitch'},
    {'id': '42720', 'text': 'WhatsApp'},
    {'id': '42730', 'text': 'X (Twitter)'},
    {'id': '42740', 'text': 'YouTube'},
    {'id': '42750', 'text': 'Andre sociale medier'}]},
  {'id': 'KØN',
   'text': 'køn',
   'elimination': True,
   'time': False,
   'values': [{'id': '10', 'text': 'Køn i alt'},
    {'id': '1', 'text': 'Mænd'},
    {'id': '2', 'text': 'Kvinder'}]},
  {'id': 'ALDER',
   'text': 'alder',
   'elimination': True,
   'time': False,
   'values': [{'id': 'TOT', 'text': 'Alder i alt'},
    {'id': '1624', 'text': '16-24 år'},
    {'id': '2534', 'text': '25-34 år'},
    {'id': '3544', 'text': '35-44 år'},
    {'id': '4554', 'text': '45-54 år'},
    {'id': '5564', 'text': '55-64 år'},
    {'id': '6574', 'text': '65-74 år'},
    {'id': '75OV', 'text': '75 år og derover'}]},
  {'id': 'Tid',
   'text': 'tid',
   'elimination': False,
   'time': True,
   'values': [{'id': '2024', 'text': '2024'}]}]}

In [54]:
table_info["description"]
table_info["unit"]

'Pct.'

In [84]:
from varro.context.fact_table import get_fact_table_info, format_fact_table_info, format_fact_table_overview, get_raw_value_mappings
from pydantic_ai import format_as_xml

In [108]:
mappings = get_raw_value_mappings("kv2sm1")

In [109]:
for col, values in mappings.items():
    break

In [110]:
col

'some'

In [111]:
import pandas as pd

In [112]:
pd.DataFrame(values).to_csv(f"{col}.csv", sep="|", index=False)

In [113]:
for col in table_info["columns"]:
    print(col)
    print(table_info["dimensions"][col])
    print()

rettighed
{'values': [{'id': 10, 'text': 'Uoplyst'}, {'id': 6, 'text': 'Autor'}, {'id': 7, 'text': 'Forlag'}, {'id': 8, 'text': 'Søsterselskab'}, {'id': 9, 'text': 'Arving'}]}

omrade
{'dimension_table': 'nuts', 'levels': [1]}

tid
{'range': {'min': '2012-01-01', 'max': '2024-01-01'}}

In [114]:
table_info

{'id': 'musik3',
 'text': 'Indtægter ved salg af musik',
 'description': 'Indtægter ved salg af musik efter rettighedsejertype, område og tid',
 'unit': 'Kr.',
 'columns': ['rettighed', 'omrade', 'tid'],
 'dimensions': {'rettighed': {'values': [{'id': 10, 'text': 'Uoplyst'},
    {'id': 6, 'text': 'Autor'},
    {'id': 7, 'text': 'Forlag'},
    {'id': 8, 'text': 'Søsterselskab'},
    {'id': 9, 'text': 'Arving'}]},
  'omrade': {'dimension_table': 'nuts', 'levels': [1]},
  'tid': {'range': {'min': '2012-01-01', 'max': '2024-01-01'}}}}

In [115]:
table_info

{'id': 'musik3',
 'text': 'Indtægter ved salg af musik',
 'description': 'Indtægter ved salg af musik efter rettighedsejertype, område og tid',
 'unit': 'Kr.',
 'columns': ['rettighed', 'omrade', 'tid'],
 'dimensions': {'rettighed': {'values': [{'id': 10, 'text': 'Uoplyst'},
    {'id': 6, 'text': 'Autor'},
    {'id': 7, 'text': 'Forlag'},
    {'id': 8, 'text': 'Søsterselskab'},
    {'id': 9, 'text': 'Arving'}]},
  'omrade': {'dimension_table': 'nuts', 'levels': [1]},
  'tid': {'range': {'min': '2012-01-01', 'max': '2024-01-01'}}}}

In [60]:
print(format_fact_table_info(table_info))

<table>
id: uddakt60
description: Uddannelsesaktivitet på bacheloruddannelser efter uddannelse, alder, herkomst, national oprindelse, køn, status og tid
columns: uddannelse, alder, herkomst, herkomst1, kon, fstatus, tid (time), indhold (unit Antal)
tid range: 2005-01-01 to 2024-01-01
</table>

In [61]:
print(format_fact_table_overview(table_info))

table: fact.uddakt60
description: Uddannelsesaktivitet på bacheloruddannelser efter uddannelse, alder, herkomst, national oprindelse, køn, status og tid
measure: indhold (unit Antal)
columns:
- uddannelse: values [H60=H60 Bacheloruddannelser, BACH, H6020=H6020 Pædagogisk, BACH, H602030=H602030 Pædagogik, BACH, H6025=H6025 Humanistisk og teologisk, BACH, H602510=H602510 Humanistisk uden nærmere angivelse, BACH ... H609030=H609030 Folkesundhedsvidenskab, BACH, H609035=H609035 It og sundhedsvidenskab, BACH, H609050=H609050 Medicin, BACH, H609055=H609055 Odontologi, BACH, H609095=H609095 Sundhedsvidenskab i øvrigt, BACH]
- alder
- herkomst: values [TOT=I alt, 5=Personer med dansk oprindelse, 4=Indvandrere, 3=Efterkommere, 0=Uoplyst herkomst]
- herkomst1: values [TOT=I alt, 1=Danmark, 2=Vestlige lande, 9=Ikke-vestlige lande, 000=Uoplyst national oprindelse]
- kon: values [10=Køn i alt, M=Mænd, K=Kvinder]
- fstatus: values [B=Elever pr. 1. oktober, F=Fuldført, T=Tilgang]
- tid: date range 2005-01-01 to 2024-01-01

table: folk1a
description: Befolkningen den 1. i kvartalet efter område, køn, alder, civilstand og tid
columns: omrade (nuts lvl [1, 3]), kon, alder, civilstand, tid (time), indhold (unit Antal)
tid range: 2007-01-01 to 2025-07-01

In [34]:
DIM_LINKS_DIR = DATA_DIR / "dimension_links"

In [63]:
import json

table_id = "UDDAKT60"
with open(DIM_LINKS_DIR / f"{table_id}.json") as f:
    dim_links = json.load(f)

In [64]:
dim_links

[]

In [ ]:
## postnr2 — Befolkningen 1. januar efter postnumre, køn, alder og tid

Columns: pnr20, kon, alder (age_range), tid (time), indhold (unit Antal)
tid range: 2010-01-01 to 2025-01-01

In [ ]:
[v[type_] for v in values[:5]]

In [8]:
set({'omrade': 'nuts'})

{'omrade'}

In [10]:
from varro.context.fact_table import get_column_dtypes

In [26]:
get_column_dtypes("befolk2")

{'kon': 'character varying',
 'alder': 'int4range',
 'tid': 'date',
 'indhold': 'integer'}

In [ ]:
int4range()

In [14]:
dim_links = [{'column': 'OMRÅDE', 'dimension': 'nuts', 'match_type': 'exact'}]

In [18]:
set(l["column"] for l in dim_links)

{'OMRÅDE'}

In [ ]:
## postnr2 — Befolkningen 1. januar efter postnumre, køn, alder og tid

Columns: pnr20, kon, alder (age_range), tid (time), indhold (unit Antal)
tid range: 2010-01-01 to 2025-01-01

In [ ]:
## postnr2 — Befolkningen 1. januar efter postnumre, køn, alder og tid

Columns: pnr20, kon, alder (age_range), tid (time), indhold (unit Antal)
tid range: 2010-01-01 to 2025-01-01

In [ ]:
## postnr2 — Befolkningen 1. januar efter postnumre, køn, alder og tid

Columns: pnr20, kon, alder (age_range), tid (time), indhold (unit Antal)
tid range: 2010-01-01 to 2025-01-01

In [ ]:
## postnr2 — Befolkningen 1. januar efter postnumre, køn, alder og tid

Columns: pnr20, kon, alder (age_range), tid (time), indhold (unit Antal)
tid range: 2010-01-01 to 2025-01-01

In [ ]:
## postnr2 — Befolkningen 1. januar efter postnumre, køn, alder og tid

Columns: pnr20, kon, alder (age_range), tid (time), indhold (unit Antal)
tid range: 2010-01-01 to 2025-01-01

In [29]:
import pandas as pd

DIM_DIR = DATA_DIR / "mapping_tables"
for folder in DIM_DIR.iterdir():
    df = pd.read_parquet(folder / "table_da.parquet")
    print(folder.stem, len(df), df["NIVEAU"].unique())

db_10 748 [1 2]
politikredse 111 [1 2]
nuts 115 [1 2 3]
overtraedtype 1408 [1 2 3 4]
disco 1171 [1 2 3 4 5]
ddu_udd 4627 [1 2 3 4 5]
cofog 188 [1 2 3]
ebops 91 [1 2 3 4]
degurba_dst 108 [1 2 3]
herkomst 4 [1]
bygherre 13 [1 2]
ddu_audd 4422 [1 2 3 4 5]
crema 7 [1]
okologisketail 101 [1 2]
nst 101 [1 2]
nr_branche 258 [1 2 3 4 5]
icha_hp 41 [1 2 3]
lande_uhv 280 [1 2 3 4 5]
ecoicop_dst 867 [1 2 3 4 5]
kn 16766 [1 2 3 4 5]
db 1732 [1 2 3 4 5]
socio 35 [1 2 3]
disco_ls 1158 [1 2 3 4 5]
ecoicop 479 [1 2 3 4]
kommunegrupper 103 [1 2]
icha 48 [1 2 3]
soc_status 52 [1 2 3]
benkod 39 [1]
esspros 59 [1 2]
esa 48 [1 2 3]
lande_uht_bb 269 [1 2 3 4]
valuta_iso 163 [1]
cepa 75 [1 2 3]
esr_sekt 49 [1 2]
sitc 3292 [1 2 3]
landbrugslandsdele 123 [1 2 3 4]
ejendom 34 [1 2]
lande_psd 284 [1 2 3]
byganv 121 [1 2 3]
kulturemner 34 [1 2]

In [ ]:
k == "Borgere/Befolkning/Befolkningstal"